<div class="row">
  <div class="col-md-12">
    <div id="acteurs">
      <div class="container-fluid">
        <h3>Listes des acteurs</h3>
        <!--<div class="formulaire">-->
          <!--<form  (ngSubmit)="onSubmit(acteurForm)">-->
            <!--<input name="nom" ngModel="acteur.nom" >-->
            <!--<input name="prenom" ngModel="acteur.prenom" >-->
            <!--<button class="btn btn-primary">Submit</button>-->

          <!--</form>-->
        <!--</div>-->
        <div *ngFor="let acteur of acteurs">
          <div class="col-md-2 acteur card">
            <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{acteur.prenom}} {{acteur.nom}}</h5>
              <div class="option">
                <button class="btn btn-outline-danger delete" (click)="supprimer(acteur.id)">Supprimer</button>
                <button class="btn btn-outline-info put">Modifier</button>
              </div>
              <div class="listFilms">
                LISTES DES FILMS
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
