<div id="home" class="container">
  <div class="row">
    <div class="col-md-12 homePage" >
      <h1 class="titre">MovieCollector</h1>
      <ul id="optionList">
        <li><a routerLink="/films" class="btn btn-outline-primary" role="button"><h4>Films</h4></a></li>
        <li><a routerLink="/categories" class="btn btn-outline-primary" role="button"><h4>Categories</h4></a></li>
        <li><a routerLink="/acteurs" class="btn btn-outline-primary" role="button"><h4>Acteurs</h4></a></li>
      </ul>
    </div>
  </div>
</div>
