#optionList>li{
  float: left;
  text-decoration: none;
  list-style-type: none;
  margin-bottom: 15px;
  margin-right: 15px;
}
.btn{
  height: 100px;
  width: 180px;
}
.homePage{
  text-align: center;
}
